*{
    margin: 0;
}
* {box-sizing:border-box}
h1{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font: 25px times-new-romand bold;
}
.title{
    background-color: rgb(57, 57, 57);
    padding: 1px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 5px;
}

form{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    padding: 40px;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 13px;
}

#login-btn {
    margin-top: 10px;
    font-size: medium;
    padding: 3.5px;
    
}

h3 {
    font-size: xx-large;
}
